body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #667eea, #764ba2);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* START SCREEN */

.start-screen {
    background: white;
    width: 400px;
    padding: 50px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.start-screen h1 {
    color: black;
    font-size: 42px;
    margin-bottom: 30px;
}

/* MAIN APP */

#app {
    display: none;
    background: white;
    width: 450px;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    text-align: center;
}

#app h1 {
    color: #333;
    margin-bottom: 20px;
}

#app h2 {
    color: #555;
}

/* INPUTS */

input {
    width: 80%;
    padding: 12px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* BUTTONS */

button {
    padding: 12px 20px;
    margin: 8px;
    border: none;
    border-radius: 10px;
    background: #667eea;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #5a67d8;
    transform: scale(1.05);
}

/* TASK LIST */

ul {
    padding: 0;
}

li {
    list-style: none;
    background: #f4f4f4;
    margin-top: 12px;
    padding: 12px;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: black;
}

/* TASK BUTTONS */

li button {
    padding: 6px 10px;
    font-size: 12px;
}