body {
    font-family: Arial;
    background: linear-gradient(to right, #667eea, #764ba2);
    text-align: center;
    color: white;
}

.container {
    width: 350px;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 15px;
    color: black;
}

input {
    padding: 10px;
    margin: 5px;
}

button {
    padding: 10px;
    margin: 5px;
    border: none;
    background: #4facfe;
    color: white;
    border-radius: 5px;
}

li {
    list-style: none;
    background: #eee;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}